.card {
    display: flex;
    flex-direction: column;
    border-radius: var(--sm-border-rd);
    margin: var(--md-margin);
    background: var(--white-color);
    font-family: var(--secondary-font-san-serif);
}

.card__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(var(--dark-white-color), var(--light-brown-3-color));
    padding: 0px var(--lg-padding);
    border-radius: var(--sm-border-rd) var(--sm-border-rd) 0rem 0rem;
    font-size: smaller;
    color: var(--dark-grey-color);
}

.card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: var(--lg-icon-padding);
    background: linear-gradient(var(--light-brown-color), var(--primary-brown-color));
    border-radius: 50%;
    height: var(--sm-icon-dimensions);
    width: var(--sm-icon-dimensions);
    min-width: var(--sm-icon-dimensions);
}

.card__icon>img {
    height: var(--sm-icon-img-size);
    width: var(--sm-icon-img-size);
}

.card__content {
    padding: 0px var(--lg-padding);
    font-size: var(--md-font-size);

}