.header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark-black-color);
    color: var(--light-brown-2-color);
    padding: var(--lg-padding);
    margin-bottom: var(--sm-margin);
    width: 100%;
    font-family: var(--main-font-san-serif);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 0px;
}

.logo__img {
    width: var(--sm-width);
    height: var(--sm-width);
}

.logo__name {
    text-shadow: var(--light-brown-2-color) 2px 0 0px;
    color: var(--primary-brown-color);
    font-size: 1.4rem;
}

.header__title {
    flex-basis: 75%;

}

@media screen and (max-width:730px) {
    .header__title {
        flex-basis: 50%;
    }
    .logo__name {
        font-size: 0.9rem;
    }
}